<!DOCTYPE html>
<html>
<head>
  <title>DATA | SCAN</title>
  <link rel="stylesheet" type="text/css" href="../static/assets/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../static/assets/css/keen-dashboards.css" />

<style>
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
</style>

</head>
<body class="application">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">DATA | HAWK</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
<!--          <li><a href="#">Home</a></li> -->
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm">
        <div class="chart-wrapper">
          <!--<div class="chart-title">
            Real-time Data Stream
          </div>-->
          <div class="chart-stage">
              <div id="main_chart_pane">
              </div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <!--<p class="small text-muted">Built with help from <a href="https://keen.io">Keen IO</a></p>-->

  </div>

  <script type="text/javascript" src="../static/assets/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../static/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="../static/assets/lib/holderjs/holder.js"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <script type="text/javascript" src="../static/assets/lib/keen-js/dist/keen.min.js"></script>
  <script type="text/javascript" src="../static/assets/js/meta.js"></script>
  <script type="text/javascript" src="../static/keen.dashboard.js"></script>

<script src="https://d3js.org/d3.v3.min.js"></script>
<script>

var width = 960,
    height = 500;

var color = d3.scale.category20();

var force = d3.layout.force()
    .charge(-120)
    .linkDistance(30)
    .size([width, height]);

var svg = d3.select("#main_chart_pane").append("svg")
    .attr("width", width)
    .attr("height", height);

d3.json("../static/miserables.json", function(error, graph) {
  if (error) throw error;

  force
      .nodes(graph.nodes)
      .links(graph.links)
      .start();

  var link = svg.selectAll(".link")
      .data(graph.links)
    .enter().append("line")
      .attr("class", "link")
      .style("stroke-width", function(d) { return Math.sqrt(d.value); });

  var node = svg.selectAll(".node")
      .data(graph.nodes)
    .enter().append("circle")
      .attr("class", "node")
      .attr("r", 7)
      .style("fill", function(d) { return color(d.group); })
      .call(force.drag);

  node.append("title")
      .text(function(d) { return d.name; });

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
  });
});

</script>

</body>
</html>
